@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #f59e0b;
  --color-secondary-hover: #d97706;
  --color-accent: #10b981;
  --color-bg-main: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-border-subtle: #e2e8f0;
}
